@tailwind base;
@tailwind components;
@tailwind utilities;

/* Дополнительные стили для карты */
.leaflet-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  z-index: 1;
}

body {
  margin: 0;
  min-height: 100vh;
}